.Home {
  text-align: center;
  width: 750px;
  background-color: rgb(54, 106, 136);
  background-image: linear-gradient(to right, darkblue, blue, rgb(108, 148, 236));
  margin: auto;
  color: white;
}

header {
  padding: 50px;
  font-size: 50px;
}

.unlockBar {
  width: 90%;
  margin: auto;
  height: 300px;
  border: solid black;
}

.gameCollection {
  width: 90%;
  margin: 0 auto 200px auto;
}

.progressContainer {
  margin-bottom: -50px;
}

.collectionUI {
  position: absolute;
}

#progressBarUI {
  width: 350px;
}

#progressBar {
  position: absolute;
  height: 10px;
  width: 10px;
  margin-top: -115px;
  background-color: blue;
  margin-left: 187px;
}

#leftUpCorner {
  width: 200px;
  margin: -30px 0 0 -20px;
  position: absolute;
}

#rightUpCorner {
  width: 200px;
  margin: -30px 0 0 495px;
  position: absolute;
  transform: scaleX(-1);
}

#leftbuttomCorner {
  width: 200px;
  margin: 555px 0 0 -20px;
  position: absolute;
  transform: scaleY(-1);
}

#rightbuttomCorner {
  width: 200px;
  margin: 555px 0 0 495px;
  position: absolute;
  transform: scale(-1);
}

.gameImgSmall {
  height: 50px;
  margin: 10px;
}

.gameImg {
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50%;
  transform: translate(-50%);
  transition: 0.1s ease-in-out;
}

.gameImg:hover {
  height: 400px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0;
}

.gamePageContainer {
  position: fixed;
  margin: auto;
  width: 750px;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-color: rgba(83, 83, 83, 0.418);
  backdrop-filter: blur(3px);
}

.honerableGames {
  width: 90%;
  margin: 0 auto 0 auto;
  height: 670px;
  background-color: red;
}

.gamePageUI {
  height: 500px;
  margin-top: 25%;
}

#pageLeftUpCorner {
  width: 200px;
  margin: -10px 0 0 -350px;
  position: absolute;
}

#pageRightUpCorner {
  width: 200px;
  margin: -10px 0 0 150px;
  position: absolute;
  transform: scaleX(-1);
}

#pageLeftbuttomCorner {
  width: 200px;
  margin: 390px 0 0 -350px;
  position: absolute;
  transform: scaleY(-1);
}

#pageRightbuttomCorner {
  width: 200px;
  margin: 390px 0 0 150px;
  position: absolute;
  transform: scale(-1);
}

.gamePageContent {
  height: 500px;
  margin: -500px 40px 0 40px;
  background-color: rgba(0, 0, 0, 0.11);
  border-radius: 40px;
}

.pageClose {
  position: absolute;
  width: 100px;
  margin: 120px 0 0 220px;
}

.pageClose:hover {
  width: 120px;
  margin: 115px 0 0 210px;
  cursor: pointer;
}

.pageClose:active {
  width: 80px;
  margin: 125px 0 0 230px;
}

.screenshot {
  float: left;
  width: 500px;
  border-radius: 15px;
  margin-top: 20px;
  margin-right: -100px;
}

.pageIcons {
  float: left;
  margin: 25px 10px 0px 10px;
  width: 120px;
}

.pageGameIcon {
  width: 100px;
}

.pagePlatform {
  width: 100px;
}

.pagetrophy {
  width: 100px;
}

.pagecoop {
  width: 100px;
}

.gamePageCriteria {
  position: absolute;
  height: 150px;
  top: 510px;
  width: 80%;
  margin-left: 5%;
  margin-right: 15%;
  float: left;
}

.pageButton {
  float: left;
  width: 180px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

.buttonUI {
  width: 180px;
  margin-top: -5px;
}

.buttonText {
  position: relative;
  top: -54px;
  width: 160px;
  margin: 15px auto 0 auto;
}